extends ../layout
block content
	.row.text-center
		h2 Admin Home:
			.button-spacer
		.col-sm-6.col-sm-offset-3
			.button-spacer
			a.btn.btn-primary.btn-lg.btn-block(href='/bhcca/create-account')
				span Create Account
			.button-spacer
			a.btn.btn-primary.btn-lg.btn-block(href='/bhcca/update-account')
				span Update Account