extends ../layout
block content
    include ../partials/ajaxFlashMessage
    .row.text-center
        h2 Change account password:
            .button-spacer
        .col-sm-6.col-sm-offset-3
            form(method='POST', action='/update-my-password')
                input(type='hidden', name='_csrf', value=_csrf)
                .form-group
                    input.value-clear.input-lg.form-control.success-clear-value(type='password', name='oldPassword', id='oldpassword', placeholder='Old Password', autofocus=false, required)
                .form-group
                    input.input-lg.form-control.success-clear-value(type='password', name='password', id='password', placeholder='Password', autofocus=false, required)
                .form-group
                    input.input-lg.form-control.success-clear-value(type='password', name='confirmPassword', id='confirmpassword', placeholder='Confirm Password', autofocus=false, required)
                .button-spacer
                button#magic-btn.btn.btn-primary.btn-lg.btn-block(type='submit')
                    span Change Password