extends ../../../views/layout
block content
	.row
		.col-sm-12
			table.table.table-striped
				thead
					tr
						th.col-xs-5 Projects
						th.col-xs-2.hidden-xs Completed
						th.col-xs-2.hidden-xs Last Updated
						th.col-xs-2.hidden-xs Link
				for user in users
					tr
						td.col-xs-5.hidden-xs #{name}